body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: black;
}
header {
    background-color: #CD5C5C;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1 {
    margin: 0;
}
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-direction: row-reverse; 
    color: blue;
}
.left-column {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
}
.right-column {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.contact-box, .follow-box, .about-me-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.post-meta {
    color: #777;
    font-style: italic;
    margin-top: 10px;
}
h2 {
    color: white;
    background-color: #066a77;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    color: black;
}

.left-column, .right-column {
    flex: 1; 
}